.events
    .site-content
        background $white-two

    &__about
        background-color var-use( color-primary )
        color white
        font-size 32px
        margin-top 50px
        text-align center

        .events__container
            padding 60px 0

            a
                color white
                text-decoration none

        &-text
            margin-bottom 40px
            text-transform uppercase

    &__container
        padding 0 0 80px

.cards-list--events
    margin-bottom 50px

