.return-message-box
    margin auto
    max-width 900px
    max-height 200px
    overflow hidden
    transition max-height 1s ease-in-out

    .btn-close
        margin-bottom 10px
        text-align right

        .btn-close-icon
            cursor pointer
            font-size 10px

    &.close
        max-height 0

    .return-message
        border 1px solid $black
        font-size 16px
        margin-bottom 50px
        padding 5px
        text-align center
        width 100%

        @media screen and ( max-width $screen-sm )
            font-size 14px

        &--success
            border-color $success
            color $success

        &--error
            border-color $danger
            color $danger
