.return-message

    width: 100%;
    border: 1px solid #000;
    text-align: center;
    padding: 0.5rem;

    &--success
        border-color: #51b51b
        color: #51b51b

    &--error
        border-color: #d0021b
        color: #d0021b
