.author-bio
    align-items center
    display flex
    flex-direction column
    justify-content center
    margin-bottom 40px
    max-width 780px
    text-align center

    @media screen and ( min-width $screen-md )
        flex-direction row
        text-align left
        margin-left auto
        margin-right auto

    img
        border-radius 50%
        height 110px
        width 110px

        @media screen and ( min-width $screen-md )
            height 100px
            width 100px

    &:before
        background-color var-use( color-primary )
        content ''
        display block
        height 2px
        margin-bottom 20px
        width 95px

        @media screen and ( min-width $screen-md )
            content none

    &:after
        background-color var-use( color-primary )
        content ''
        display block
        height 2px
        margin-bottom 20px
        width 95px

        @media screen and ( min-width $screen-md )
            content none

    &__picture
        min-width 100px
        @media screen and ( min-width $screen-md )
            margin-right 15px

    &__content
        align-self stretch

        &:before
            background-color var-use( color-primary )
            content ''
            display block
            height 2px
            margin-bottom 20px
            width 45px

            @media screen and ( max-width $screen-md )
                content none

        &:after
            background-color var-use( color-primary )
            content ''
            display block
            height 2px
            margin-top 20px
            width 45px

            @media screen and ( max-width $screen-md )
                content none

    &__name
        color var-use( color-primary )
        font-size 16px
        font-weight bold
        margin-bottom 0

        a
            color var-use( color-primary )
            text-decoration none

    &--single
        border-top 2px solid var-use( color-primary )
        max-width 100%
        padding 10px 0
        margin-bottom 0
        position relative

        &:last-child
            border-bottom 2px solid var-use( color-primary )
            margin-bottom 40px

        &:first-child
            &:after
                display none

        &-coauthor
            padding 30px 0 20px 0

            @media screen and ( min-width $screen-md )
                padding 10px 0

        &:after
            background-color white
            color var-use( color-primary )
            content '&'
            font-size 24px
            font-weight bold
            height 40px
            position absolute
            text-align center
            top -20px
            width 48px

            @media screen and ( min-width $screen-md )
               width 88px

            @media screen and ( min-width $screen-lg )
                width 108px

        & ^[0..-2]__content
            &:before,
            &:after
                content none

        &:before
            content none

    &__share-item
        display inline-block
        font-size 20px
        margin 0 5px
        position relative

        a
            border 2px solid $pinkish-grey
            border-radius 50%
            color $pinkish-grey
            display block
            height 30px
            line-height 30px
            transition all .2s linear
            width 30px
            text-align center
            text-decoration none

            &:hover
                border-color $dark-grey
                color $dark-grey
