$placeholder
    background transparent
    border-color $white
    color $white

.button,
a.button,
input[type='submit'].button
    $height = 45px
    background $white
    border 1px solid var-use( color-primary )
    color var-use( color-primary )
    display inline-block
    font-weight bold
    line-height $height
    padding 0 10px
    text-decoration none
    text-transform uppercase
    transition all $transition-default

    @media screen and ( min-width $screen-md )
        padding 0 30px

    &:hover
        background var-use( color-primary )
        color $white
        text-decoration none

    &__bordered
        background transparent
        border 1px solid var-use( color-primary )

        &:hover
            background var-use( color-primary )
            color $white

    &__transparent
        background transparent
        color var-use( color-primary )

    &__tiffany
        background $tiffany
        border none
        color $white

        &:hover
            background-color $white
            border-color $tiffany
            color $tiffany

    &__white
        background transparent
        border-color $white
        color $white

        &:hover
            background $white
            color $black

    &__small
        line-height 30px

    &__icon
        [class^='i-'],
        [class*=' i-']
            margin-left 5px
