.card
    &--event
        & ^[0]__wrapper
            color $black
            font-weight bold
            position relative
            text-align left
            text-transform uppercase

        & ^[0]__date
            color var-use( color-primary )
            float left
            font-size 24px
            width 50%

        & ^[0]__image
            float right
            height 80px
            text-align right
            width calc( 50% - 25px )

            img
                height auto
                margin-left auto
                max-height 100%
                max-width 100%
                width auto

        & ^[0]__title
            color $black
            font-size 16px
            letter-spacing 1px

        & ^[0]__footer
            font-weight 100
            text-transform none

        & ^[0]__role
            color var-use( color-primary )
            font-size 12px

        & ^[0]__responsible
            color var-use( color-primary )
            font-size 14px
            margin-top 10px
            text-transform initial

    &--old
        & ^[0]__date,
        & ^[0]__title
            color $gray-light-300

        & ^[0]__role
            color var-use( color-primary )
