.footer-info
    background-color #002a52
    width 100%

    .container
        padding 0 50px

        @media screen and ( min-width $screen-lg )
            padding 0

    .info
        align-items center
        display flex
        flex-wrap wrap
        width 100%

        @media screen and ( min-width $screen-lg )
            flex-wrap initial

        &__img
            padding 50px 0 45px 0
            padding-right 100px

            @media screen and ( min-width $screen-lg )
                padding 20px 40px 45px 0px

            img
                width 220px

                @media screen and ( min-width $screen-lg )
                    width 290px

        &__content
            display flex
            flex-wrap wrap
            width 100%

            @media screen and ( min-width $screen-md )
                flex-wrap initial

            @media screen and ( min-width $screen-lg )
                padding-top 35px
                width calc( 100% - 390px )

        &__schedule,
        &__thinking
            margin-bottom 50px
            width calc( 100% - 50px)

            .menu
                margin 0
                padding-left 0px

        &__thinking2
            margin-bottom 50px
            width calc( 100% - 50px)

            .menu
                margin 0
                padding-left 0px
                margin-top -55px

                @media screen and ( min-width $screen-md )
                    margin-top 38px

                .menu-item
                    margin-bottom 5px

                    a
                        font-size 14px
                        text-transform uppercase
                        font-weight normal
                        color $white
                        text-decoration none

        &__contact
            margin-bottom 20px
            width 100%

            .menu
                margin 0
                padding-left 0px

        &__title
            font-size 21px
            font-weight bold
            text-transform uppercase
            color $white
            margin-bottom 10px

        &__text
            font-size 14px
            text-transform uppercase
            font-weight normal
            color $white
            margin-bottom 10px
            display flex
            flex-direction row

            @media screen and ( min-width $screen-md )
                margin-bottom 5px

            @media screen and ( min-width 900px )
                padding-right 25px

            @media screen and ( min-width $screen-lg )
                padding-right 0px

        &__icon
            margin-right 10px
            font-size 21px

            .i-whatsapp, .i-envelope
                vertical-align super

        .menu-item
            list-style none
            margin-bottom 10px

            a
                font-size 21px
                font-weight bold
                text-transform uppercase
                color $white
                margin-bottom 10px
                text-decoration none

        .sub-menu
            padding-left 0px
            margin-top 10px

            .menu-item
                    margin-bottom 5px
                a
                    font-size 14px
                    text-transform uppercase
                    font-weight normal
                    color $white
                    text-decoration none

