.post-feature
    background $gray-light-100
    margin 32px ( - $container-padding ) 30px ( - $container-padding )
    padding 40px 30px

    @media screen and ( min-width $screen-md )
        margin 32px 0 30px

    &--title
        color $black
        font-size 22px
        margin 0 0 30px
        text-align center
        text-transform uppercase

        @media screen and ( min-width $screen-md )
            font-size 14px

    &--list
        list-style none
        margin 0
        padding 0

    &--item
        display block
        font-size 14px
        justify-content space-between
        margin-bottom 20px

        @media screen and ( min-width $screen-md )
            flex-direction row

        &-site
            color $tiffany
            display block
            font-weight bold
            margin-bottom 5px

        &-title
            color $gray-dark
            display block
            text-decoration none
