.post
    &--meta
        color $brownish-grey
        font-size 20px
        font-weight 100
        margin 12px 0 0

        @media screen and ( min-width $screen-md )
            align-items flex-end
            display flex
            font-size 20px
            margin-top 22px

        > *
            display block
            margin-bottom 12px

            @media screen and ( min-width $screen-md )
                margin-bottom 0

        &-author
            a
                color var-use( color-primary )
                font-weight bold
                text-decoration none

                &:after
                    content '|'

                &:last-child
                    &:after
                        display none

            @media screen and ( min-width $screen-md )
                margin-bottom 0
                margin-right 30px

        &-translate
            color var-use( color-link )
            text-decoration none

            @media screen and ( min-width $screen-md )
                margin-bottom 0

            @media screen and ( min-width $screen-md )
                display inline-block

                &:before
                    content '|'

                &:first-child&:before
                    content ''

        &-date
            @media screen and ( min-width $screen-md )
                margin 0 30px

        &-reading
            line-height 1

            @media screen and ( min-width $screen-md )
                margin 0 30px

        &-lang
            border-bottom 1px solid $gray-light-110
            display block
            margin-top 20px
            padding-bottom 20px

        &-share
            display flex

            @media screen and ( min-width $screen-md )
                margin 0 30px

            &-item
                color $gray
                margin-left 20px
                text-decoration none

    &--icon__time
        color var-use( color-primary )
        float left
        font-size 24px
        icon( i-time )
        margin-right 10px

    &--icon__language
        color var-use( color-primary )
        float left
        font-size 24px
        icon( i-language )
        margin-right 10px
