.post
    &--meta
        color $brownish-grey
        font-size 20px
        font-weight 100
        margin 12px 0 0

        @media screen and ( min-width $screen-md )
            align-items flex-end
            display flex
            font-size 20px
            margin-top 22px

        > *
            display block
            margin-bottom 12px

            @media screen and ( min-width $screen-md )
                margin-bottom 0

        &-author
            color var-use( color-primary )
            font-weight bold
            text-decoration none

            @media screen and ( min-width $screen-md )
                margin-bottom 0
                margin-right 30px

        &-translate
            color var-use( color-link )
            text-decoration none

            @media screen and ( min-width $screen-md )
                margin-bottom 0

        &-date
            @media screen and ( min-width $screen-md )
                margin 0 30px

        &-reading
            line-height 1

            @media screen and ( min-width $screen-md )
                margin-left 30px

        &-lang
            display block
            margin-bottom 30px

            @media screen and ( min-width $screen-md )
                margin-top 5px

    &--icon__time
        color var-use( color-primary )
        float left
        font-size 24px
        icon( i-time )
        margin-right 10px

    &--icon__language
        color var-use( color-primary )
        float left
        font-size 24px
        icon( i-language )
        margin-right 10px
