.site-footer
    background-color $color-co
    color $white
    height $footer-height
    padding 35px 0 35px
    position relative
    text-align center
    visibility visible
    z-index 97

    a, p
        color white
        text-decoration none

.scroll-up
    align-items center
    border 1px solid $white
    cursor pointer
    height 45px
    justify-content center
    transition all $transition-default
    width 45px
    border-radius 50px
    position fixed
    display flex
    float left
    left 10px
    bottom 10px
    background-color $color-co

    &:hover
        background-color $white
        color $black
        border 1px solid $black

    &--icon
        font-size 20px
        transform rotate( -90deg )
