.top-header-wrapper
    .top-header--collapse
        top 75px

    &__sticky
        height $sm-nav-height-sticky

        @media screen and ( min-width $nav-breakpoint )
            height $lg-nav-height-sticky

        .site-branding
            width 150px

        .top-header--collapse
            top 68px

            @media screen and ( min-width $nav-breakpoint )
                top 0
