#translate-request-box
    font-size 16px
    max-height 0
    overflow hidden
    transition max-height 1s ease-in-out

    @media screen and ( max-width $screen-sm )
        font-size 14px

    input
        padding 0 10px

    input[type='text'],
    input[type='email']
        color $black
        height 39px

    .contact--form label
        margin-bottom 10px

    p
        margin-bottom 25px
        text-align center

    .form--submit-wrapper
        margin-top 25px

        @media screen and ( min-width $screen-sm )
            margin-top 35px

    .contact
        border-bottom 1px solid $black-light
        color $black
        margin-bottom 25px
        padding-bottom 25px
        text-align center

    .btn-close
        max-width 900px
        margin auto
        margin-bottom 10px
        text-align right

    .btn-close-icon
        cursor pointer
        font-size 10px


    &.open
        max-height 400px

    &.close
        max-height 0

