.websites
    display flex
    margin-bottom 25px

    &--title
        color var-use( color-primary )
        font-size 16px
        font-weight bold
        display inline
        width 33%

    &-content
        width 100%

    &-images
        width 100%

    &-image
        display block
        width 100%

        @media screen and ( min-width $screen-md )

            display inline
            float left
            width calc(50% - 10px)
            margin 5px

    &-image2
        display block
        width 100%

        @media screen and ( min-width $screen-md )

            display inline
            float right
            width calc(50% - 10px)
            margin 5px

    &-box
        position relative
        display inline-block

    &-overlay
        position absolute
        height 100%
        opacity 1
        width 100%
        left 0
        bottom 0
        margin-bottom 5px
        padding 10px 15px
        display flex
        justify-content center
        flex-direction column

    &-text
        text-transform uppercase
        font-size 12px
        font-weight bold
        color #fff

        @media screen and ( min-width $screen-md )
            font-size 14px

    &-inner-box
        width 100%
        height auto
        text-align center

        img
            height 50px
            width auto

            @media screen and ( min-width $screen-md )
                height 60px


