.websites
    display flex
    flex-wrap wrap
    justify-content space-between

    @media screen and ( min-width $screen-md )
        flex-wrap initial

    &__title
        color var-use( color-primary )
        display inline-block
        font-size 18px
        font-weight normal
        margin 0 0 80px
        position relative
        text-align center
        text-transform uppercase
        width 100%

        @media screen and ( min-width $screen-md )
            font-size 36px

        &:after
            border-bottom 1px solid var-use( color-primary )
            bottom -20px
            content ''
            left 0
            margin-left auto
            margin-right auto
            position absolute
            right 0
            width 80px

            @media screen and ( min-width $screen-md )
                border-bottom 2px solid var-use( color-primary )
                bottom -25px
                width 100px

    &__item
        margin-bottom 50px
        width 100%

        @media screen and ( min-width $screen-md )
            margin-bottom 0
            width calc( 50% - 12px )

        &--tech
            --color-primary $color-tech

        &--ms
            --color-primary $color-ms

        &-header
            display flex
            flex-wrap wrap
            justify-content space-between
            margin-bottom 30px

            @media screen and ( min-width $screen-lg )
                flex-wrap initial

        &-logo,
        &-description
            align-content center
            margin-bottom 20px
            padding 0 20px
            text-align center
            width 100%

            @media screen and ( min-width $screen-lg )
                margin-bottom 0
                padding 0
                text-align left
                width calc( 50% - 5px )

        &-description
            margin-bottom 0
            min-height 35px

        &-posts
            color #333

    .cards-list__wrapper
        justify-content center

        @media screen and ( min-width $screen-lg )
            justify-content space-between

    .card
        font-size 12px
        height 245px
        margin 0
        width 100%
        max-width 290px

        @media screen and ( min-width $screen-md )
            max-width 400px

        @media screen and ( min-width $screen-lg )
            width calc( 50% - 5px )

    .listing-post
        margin-bottom 25px

        &__overlay
            @media screen and ( min-width $screen-lg )
                height 130px

        &__title
            font-size 12px

        &__header-meta
            @media screen and ( min-width $screen-lg )
                bottom 50px

        &__footer
            @media screen and ( min-width $screen-lg )
                bottom -60px
                padding 15px

            &__right
                letter-spacing 0

            i
                font-size 16px

        &--reading,
        &--comments
            height auto
            margin 0

        &--comments
            margin-left 5px
