.websites
    display flex
    margin-bottom 25px

    &--title
        color var-use( color-primary )
        font-size 16px
        font-weight bold
        display inline
        width 33%

    &-content
        width 100%

    &-images
        width 100%

    &-image
        display block
        width 100%

        @media screen and ( min-width $screen-md )

            display inline
            float left
            width calc(50% - 10px)
            margin 5px

        img
            height auto
            width 100%

    &-image2
        display block
        width 100%

        @media screen and ( min-width $screen-md )

            display inline
            float right
            width calc(50% - 10px)
            margin 5px

        img
            height auto
            width 100%
    &-info
        width 100%
        display inline

    &-box
        position relative
        display inline-block

        &:hover
            .websites-overlay
                height 60%

                @media screen and ( min-width $screen-md )
                    height 30%

    &-overlay
        position absolute
        transition all .3s ease
        background-color rgba( $black, .7)
        height 60%
        opacity 1
        width 100%
        left 0
        bottom 0
        margin-bottom 5px
        padding 10px 15px

        @media screen and ( min-width $screen-md )
            height 20%

    &-text
        text-transform uppercase
        font-size 14px
        font-weight bold
        color #fff
        padding 10px 0px

    &-logo
        width 75%

        @media screen and ( min-width $screen-md )
            width 50%

        img
            height 100%
            width auto



