// All style of elements that is above the fold
@import 'nib'
@import 'variables'
@import 'mixins/*'
@import '../font-icon/variables'

normalize-css()

// General CSS
*
*:before
*:after
    box-sizing border-box
body
    color $gray-dark
    font-family $sans-serif
    font-size $font-size-base
    font-weight 300
    overflow-x hidden

img
    height auto
    max-width 100%

button
    background none
    border none

// Helper classes

// Container to center the element in the page on large screens. In minor
// screens the element is full width.
.container
    margin-left auto
    margin-right auto
    max-width 100%
    padding-left $container-padding
    padding-right $container-padding
    width 100vw

    &.full
        padding 0

    &__xs-small-margin
        padding-left 10px
        padding-right 10px

    @media screen and ( min-width $container-adjust )
        padding-left 0
        padding-right 0
        width $screen-lg


// Hide screen reader element until load the CSS file
.screen-reader-text
    display none

// WOWJS integration
.wow
    visibility hidden

// Header wrapper
.top-header-wrapper
    background-color white
    fixed top left
    height $sm-nav-height
    transition .2s ease-out
    width 100%
    z-index 99
    border-top 7px solid $color-co

    @media screen and ( min-width $nav-breakpoint )
        border-top-width 11px
        height $lg-nav-height

.top-languages
    align-content right
    align-items center
    border-bottom 1px solid $gray-light-300
    display flex
    height 25px

    @media screen and ( min-width $nav-breakpoint )
        height 43px


    @media screen and ( max-width 896px )
        .container
            display flex
            flex-flow row-reverse
            justify-content space-between

.top-header
    align-items center
    display flex
    justify-content space-between
    height calc( 100% - 25px )
    position relative
    z-index 9999

    @media screen and ( min-width $nav-breakpoint )
        height calc( 100% - 43px )

    &--collapse
        background $header-bg
        display none
        left 0
        padding 30px 20px 60px
        position absolute
        top $sm-nav-height
        width 100%

        &.toggled
            display block


        @media screen and ( min-width $nav-breakpoint )
            align-items center
            background transparent
            display flex
            height 100%
            padding 0
            position static
            top 0
            width auto

            &.toggled
                display flex

        @media screen and ( max-width $nav-breakpoint )
            .langs-navigation
                display none

    &__searchable
        .main-navigation
            display none

        .site-search
            right 20px
            top 50%
            transform translateY( -50% )
            width calc( 70% - 125px )

        .search-toggle
            display none

// Logo
.site-branding
    display block
    transition width $transition-default
    width 155px

    img
        max-width 100%

    @media screen and ( min-width $nav-breakpoint )
        width 250px


// Nav
.main-navigation
    @media screen and ( min-width $nav-breakpoint )
        height 100%
        margin-left auto

    > div
        @media screen and ( min-width $nav-breakpoint )
            height 100%

    .menu
        list-style none
        margin 0
        padding 0
        text-align left

        @media screen and ( min-width $nav-breakpoint )
            align-items center
            display flex
            font-weight bold
            height 100%

    .menu-item
        @media screen and ( min-width $nav-breakpoint )
            align-items center
            display flex
            height 100%

        a
            border-bottom 2px solid transparent
            color $white
            display block
            font-size 14px
            padding 15px 0
            text-decoration none
            text-transform uppercase
            transition all 0.3s ease

            @media screen and ( min-width $nav-breakpoint )
                color #3074b9

            @media screen and ( min-width $nav-breakpoint )
                border-bottom 1px solid transparent
                margin 0 10px
                padding 5px 0

            @media screen and ( min-width $screen-lg )
                margin 0 15px

        &.current-menu-item,
        &.current-menu-ancestor
            > a
                border-bottom 2px solid white

                @media screen and ( min-width $nav-breakpoint )
                    border-color #2c3475
                    color #2c3475

        &-has-children
            position relative

            > a
                &:after
                    absolute top right -20px
                    align-items center
                    color $color-co
                    // content i-arrow-down
                    cursor pointer
                    display flex
                    font-family 'icomoon'
                    height 48px
                    justify-content center
                    width 60px

                    @media screen and ( min-width $nav-breakpoint )
                        display inline
                        font-size 6px
                        height auto
                        margin-left 5px
                        padding 0
                        position static

        &--opened,
        &--opened.current-menu-ancestor
            > a
                border-bottom-width 0

                @media screen and ( min-width $nav-breakpoint )
                    border-bottom-width 1px

                &:after
                    background-color $gray-dark
                    transform rotate( 180deg )

                    @media screen and ( min-width $nav-breakpoint )
                        background-color transparent

    .sub-menu
        background-color $gray-dark
        display none
        margin-left -20px
        padding-bottom 25px
        padding-left 65px
        padding-top 15px
        width 100vw

        @media screen and ( min-width $nav-breakpoint )
            margin-left 0
            min-width 180px
            padding 10px 20px 0
            position absolute
            top 100%
            width auto

        ^[0] .menu-item--opened ^[-1..-1] // @stylint off valid warning property is not valid
            display block

        .menu-item
            list-style-type none
            padding-right 20px
            width 100%

            @media screen and ( min-width $nav-breakpoint )
                font-weight normal
                margin 0
                padding-right 0

            a
                color $white
                padding-bottom 5px

                @media screen and ( min-width $nav-breakpoint )
                    border-bottom 1px solid $white
                    display block
                    margin 0 0 15px
                    padding-bottom 5px
                    width 100%

                &:hover,
                // .main-navigation .menu-item--opened .sub-menu .current-menu-item a
                ^[0] .menu-item--opened ^[1..1] .current-menu-item ^[-1..-1]
                    border-bottom-color var-use( color-primary )
                    color var-use( color-primary )

.menu-toggle
    padding 6px

    &:focus
        outline none

    .icon-bar
        background $color-co
        border-radius 1px
        display block
        height 3px
        transition transform $transition-default
        width 31px

        & + .icon-bar
            margin-top 4px

    &[aria-expanded='true']
        .icon-bar:nth-child( 1 )
            transform rotate( 45deg )

        .icon-bar:nth-child( 2 )
            transform rotate( -45deg )
            margin-top -2px

        .icon-bar:nth-child( 3 )
            display none

    @media screen and ( min-width $nav-breakpoint )
        display none

// Langs
.langs-navigation
    float right
    height 25px
    list-style none
    margin 0
    padding 0

    @media screen and ( min-width $nav-breakpoint )
        align-items center
        border-left 1px solid $gray-light-300
        display flex
        height 43px
        padding 0 15px

    .menu-item
        border-bottom 1px solid transparent
        display inline-block
        font-size 12px
        margin 0 5px

        @media screen and ( min-width $nav-breakpoint )
            font-size 14px

        &.current-menu-item a
            color $color-co

    .menu-link
        color $gray-light-200
        display block
        font-weight bold
        height 25px
        line-height 25px
        padding 0
        text-decoration none

        .menu-item
            margin 0 0 0 20px

            &.current-menu-item
                margin-left 15px

            &.current-menu-item a
                color $gray-light-200

.social-navegation
    float right
    height 25px
    list-style none
    margin 0
    padding 0

    @media screen and ( min-width $nav-breakpoint )
        align-items center
        border-left 1px solid $gray-light-300
        display flex
        height 43px
        padding 0 15px

    &--list
        margin 0

    .menu-item
        display inline-block
        font-size 12px
        margin 0 5px

        a
            color $gray-light-200
            display block
            height 25px
            line-height 25px
            padding 0 5px
            text-decoration none
            text-transform uppercase

            @media screen and ( min-width $nav-breakpoint )
                font-size 16px

            &:hover

                .i-youtube
                    color #dc2924

                .i-facebook
                    color #567ec4

                .i-twitter
                    color #1ca4f2

                .i-linkedin
                    color #007db3

.websites-navegation
    float right
    height 25px
    list-style none
    margin 0
    padding 0

    @media screen and ( min-width $nav-breakpoint )
        align-items center
        display flex
        height 43px
        padding 0 15px

    .menu-item
        display inline-block
        font-size 12px
        margin 0 10px 0 0

        @media screen and ( min-width $nav-breakpoint )
            margin 0 5px 0 25px

    .menu-link
        color var-use( color-primary )
        display block
        font-weight bold
        height 25px
        line-height 25px
        text-decoration none

        @media screen and ( min-width $nav-breakpoint )
            font-size 16px

        img
            display none
            max-height 16px

            @media screen and ( min-width $nav-breakpoint )
                display inline-block


        &--ms
            color $color-ms

        &--tech
            color $color-tech

        &--co
            color $color-co

// Search
.search-toggle
    display none
    color $color-co
    font-size 22px
    margin-left 20px

    @media screen and ( min-width $nav-breakpoint )
        display inline-block

.search-form
    align-items center
    border-bottom 1px solid $white
    color $white
    display flex
    height 48px
    margin-bottom 10px
    padding 15px 0

    @media screen and ( min-width $nav-breakpoint )
        color $color-co
        border-color $color-co

    .search-submit
        margin-right 1rem
        padding-left 0
        text-align center
        width 30px

        @media screen and ( min-width $nav-breakpoint )
            padding-left 8px

    input[type='search']
        background transparent
        border none
        height 17px
        padding 0
        width 100%

        &::placeholder
            text-transform uppercase

        &:focus
            outline none

    @media screen and ( min-width $nav-breakpoint )
        border-bottom none
        margin-bottom 0

        input[type='search']
            border-bottom 1px solid $color-co
            height 28px
            line-height 28px
            margin 0 8px

.search-close
    cursor pointer
    display none
    height 25px
    position relative
    width 25px

    &:after,
    &:before
        background $color-co
        content ''
        display block
        height 1px
        position absolute
        right 4px
        top 12px
        width 14px

    &:after
        transform rotate( -45deg )

    &:before
        transform rotate( 45deg )

    @media screen and ( min-width $nav-breakpoint )
        display block

.site-search
    transition right .2s linear

    @media screen and ( min-width $nav-breakpoint )
        position absolute
        right 0
        top -150px


// Header
.site-header
    background-position center
    background-repeat no-repeat
    background-size cover
    height 100%
    position fixed
    top 0
    width 100%
    z-index 10

    &--wrapper
        background-color $header-bg
        height 100vh
        left 0
        min-height 500px
        position relative
        right 0
        top 0
        width 100vw

        /.no-hero &
            height $sm-nav-height
            min-height auto
            position fixed
            z-index 20

            @media screen and ( min-width $nav-breakpoint )
                height $sm-nav-height-breakpoint

            /.sticky&
                height $sm-nav-height-sticky

    &--overlay
        background $black
        height 100%
        opacity .4
        width 100%

    &__no-hero
        height auto

// Hero
.hero
    &--title
        margin 0

    &--container
        display none

// Breadcrumb
.breadcrumb
    color $gray-light-300
    font-size 12px
    list-style none
    padding 30px 0 15px 0

    @media screen and ( min-width $screen-md )
        font-size 14px
        margin-bottom 15px
        padding 30px 0 15px 0

    @media screen and ( min-width $screen-lg )
        margin-bottom 25px
        padding 25px 0

    &--wrapper
        margin-top 100px
        position relative
        transition margin-top $transition-default
        z-index 10

        /.sticky &
            // TODO: Utilizar uma variável para controlar o margin
            margin-top 115px

        @media screen and ( min-width $screen-md )
            // TODO: Utilizar uma variável para controlar o margin
            margin-top 107px

    &--item
        display inline

        &:after
            content '>'
            display inline-block
            margin 0 10px

        &:last-child:after
            display none

    &--link
        color $gray-light-300
        text-decoration none

.site-content,
.site-footer
    visibility hidden

// Page section
.page-section
    opacity 0

// Indexes
.indexes
    &__container
        padding 0

    &__swiper-container
        @media screen and ( min-width $screen-lg )
            padding-left 38px
            padding-right 63px
            width 100%

    &__item
        display inline-block
        font-size 16px
        width auto

        @media screen and ( min-width $screen-md )
            font-size 18px
